#footer {    
    position: relative;
    background-color: #1d1d1d;
    color: #DDD;
	text-shadow:0 0 0 #fff;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: left;
}
#footer .save_now{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 19%;
    float: left;
}
#footer .download{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 20%;
    float: left;
}
#footer .download a{
    text-decoration: none;
    color: #DDD;
}
#footer #save_now:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}

#footer .option{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 19%;
    float: left;
}
#footer .option:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}
#footer .panel{
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0px;
    height: auto;
    background-color: #333;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    display: none;
    filter: alpha(opacity=95);
    opacity: .95;
    text-align: center;
    z-index:3;
}


#footer .panel{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#footer .panel #title{
    width: 100%;
    text-align: left;
    float: left;
}
#footer .panel a{
    color: #EEE;
    text-decoration: none;
}
#footer .panel a:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}
#footer .panel #save_now{
    color: #EEE;
    text-decoration: none;
}
#footer .panel #save_now:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}
#footer .panel #inlineCodeBlocks{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#footer .panel .embedCode{
    background-color: #efffec;
    color: #000;
    border:1px inset orange;
    height:35%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
    padding:2px;
    text-align:left;
    float: left;
}
#footer .panel #embedImage{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

#footer .panel #footnote{
    width: 75%;
    float: right;
    text-align: left;
    font-size: 0.8em;
}

