
#header{
    position: relative;
    font-family: font-style:italic; font-family:Georgia, Times, serif; 
    background-color: #1d1d1d;
    color: #DDD;
	text-shadow:0 0 0 #fff;
    height: 60px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    padding-top: 15px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: left;
}
#header #title{
    float: left;
    padding-left: 15px;
}
#header #title a{
    text-decoration: none;
    color: #75a0cb;
}
#header #user{
    float: right;
    font-size: 12px;
    padding-right: 15px;
}
#header #user a{
    color: #ccc;
    text-decoration: none;
}
#header #user a:hover{
    color: #ccc;
    text-decoration: underline;
}
