body{
    background-color: #222;
    font-family: Gill Sans, Verdana;
    background-color: #75a0cb;
    color:#8ebfdb; 
    overflow: hidden;
    min-width: 780px;
    min-height: 580px;
}
#wrapper{
    width: 100%;
}
#header{
    position: relative;
    background-color: #333;
    color: #DDD;
	text-shadow:0 0 0 #fff;
    height: 60px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
    padding-top: 15px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}
#content{
    margin-top: 1%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
#help {
    position: relative;
    background-color: #333;
    color: #DDD;
	text-shadow:0 0 0 #fff;
    height: 70%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}
#full{
    width: 98%;
    height: 70%;
    min-height: 400px;
    background-color: #1d1d1d;
    color: #DDD;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: left;    
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 1%;
    padding: 1%;
}
#first{
    width: 98%;
    background-color: #1d1d1d;
    color: #DDD;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: left;    
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 1%;
    padding: 1%;
}
#second{
    width: 98%;
    min-height: 150px;
    background-color: #1d1d1d;
    color: #DDD;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: left;    
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 1%;
    padding: 1%;
}
#left{
    width: 46%;
    padding: 1%;
    text-align:left;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: left;    
}
#right{
    width: 46%;
    padding: 1%;
    text-align:left;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: right;    
}
#right img{
    margin-top: 10%;
    width: 100%;
}
.embedCode{
    background:lightyellow none repeat scroll 0 0;
    color: #000;
    border:1px inset orange;
    height: 200px;
    width: 46%;
    padding: 1%;
    overflow:auto;
    text-align:left;
    float: right;
}
a {
    color:#8ebfdb; 
}
