
#optionsPanel div{
    width: 100%;
    color: #DDD;
}
#optionsPanel .download a{
    text-decoration: none;
    color: #DDD;
}
#optionsPanel #save_now:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}
#optionsPanel #save_phylobox:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}

#optionsPanel .option:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}
.subpanel{

    position: absolute;
    bottom: 10px;
    right: 25%;
    height: auto;
    background-color: #333;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    display: none;
    filter: alpha(opacity=95);
    opacity: .95;
    text-align: center;
    z-index:3;
    color: #eee;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.subpanel #title{
    width: 100%;
    text-align: left;
    float: left;
}
.subpanel a{
    color: #EEE;
    text-decoration: none;
}
.subpanel a:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}
.subpanel #save_now{
    color: #EEE;
    text-decoration: none;
}
.subpanel #save_phylobox{
    color: #EEE;
    text-decoration: none;
}
.subpanel #save_now:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}
.subpanel #save_phylobox:hover{
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}
.subpanel #inlineCodeBlocks{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.subpanel .embedCode{
    background-color: #efffec;
    color: #000;
    border:1px inset orange;
    height:35%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
    padding:2px;
    text-align:left;
    float: left;
}
.subpanel #embedImage{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.subpanel #footnote{
    width: 75%;
    float: right;
    text-align: left;
    font-size: 0.8em;
}

