<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>PhyloBox</title>
    <meta name="description" content="PhyloBox About">
    <script type="text/javascript" src="/static/javascript/jquery.js"></script>  
    <script type="text/javascript" src="/static/javascript/generalUI.js"></script>  
    
    <link rel="stylesheet" href="/static/css/treeedit.css" /> 
    <link rel="stylesheet" href="/static/css/helppage.css" /> 
    <link rel="stylesheet" href="/static/css/header.css" /> 
    
</head>
<body>
<div id="wrapper">
    {{ header }}
    <div id="content">
        <div id="full">
            <p>
                PhyloBox is a tool to allow researchers to go from phylogeny to publication quality images and web publishable widgets in a minimum number of steps. We plan to support many of the same tools as <a href="http://mesquiteproject.org">Mesquite</a>.
            </p><p>
                From PhyloBox a researcher can edit the form and look of a phylogenetic tree as well as share control of that tree with collaborators. Meanwhile, storage of that tree is simple and versioning new trees is a breeze. 
            </p><p>
                Using the URI elements within PhyloXML we plan to support rich integration of video, audio, and other content into the phylogenetic tree visualizations. 
            </p><p>
                We wanted to make web publishing a snap, so we have designed a widget (similar to YouTube or SlideShare) that you can drop into your webpage with minimum hastle and 
                allow your readers can explore the tree, including in full-screen mode. 
            </p><p>
                PhyloBox is the work of <a href="http://biodiversity.colorado.edu">Andrew Hill</a>, <a href="http://plebeian.tv/">Sander Pick</a> and <a href="http://sites.google.com/site/robgur/">Rob Guralnick</a> and was funded in part by grants from the NSF and the <a href="cumuseum.colorado.edu">University of Colorado Natural History Museum</a>.
            </p><p>
                All work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 License</a>
            </p>
        </div>
    </div>
    {{ homeMenu }}
</div>
</body>
</html>
