<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>PhyloBox</title>
    <meta name="description" content="PhyloBox Help">
    <script type="text/javascript" src="/static/javascript/jquery.js"></script>  
    <script type="text/javascript" src="/static/javascript/generalUI.js"></script>  
    
    <link rel="stylesheet" href="/static/css/treeedit.css" /> 
    <link rel="stylesheet" href="/static/css/helppage.css" /> 
    <link rel="stylesheet" href="/static/css/header.css" /> 
    
</head>
<body>
<div id="wrapper">
    {{ header }}
    <div id="content">
        <div id="full">
            <div id="left">
                    So you think you see something else interesting in a tree? Fork it!
                <p>
                    You have the ability to fork any tree that you have access to. Simply by opening a tree you don't own in the editor, it will fork the project into a completely new tree. Alternatively, by opening a tree you do own in the editor you can click the 'fork' icon to spin it into a new project. This always leaves the original tree untouched and the history of authorship and contribution is always recorded.
                </p><p>
                    We see this feature to be the way of the future for phylogeny on the web. It will encourage collaboration and new takes on old ideas, and lets you share all the information in your phylogeny, not just a BMP.
                </p>
            </div>
            <div id="right">
                <img src="/static/images/helppages/forking.png"/>
            </div>
        </div>
    </div>
    {{ homeMenu }}
</div>
</body>
</html>
