<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>PhyloBox</title>
    <meta name="description" content="PhyloBox Help">
    <script type="text/javascript" src="/static/javascript/jquery.js"></script>  
    <script type="text/javascript" src="/static/javascript/generalUI.js"></script>  
    
    <link rel="stylesheet" href="/static/css/treeedit.css" /> 
    <link rel="stylesheet" href="/static/css/helppage.css" /> 
    <link rel="stylesheet" href="/static/css/header.css" /> 
    
</head>
<body>
<div id="wrapper">
    {{ header }}
    <div id="content">
        <div id="full">
            <div id="left">
                    PhyloBox currently supports PhyloXML files. We hope to support other formats very soon, but for now...
                <p>
                    If you want to learn more about phyloXML files, head <a href="http://phyloxml.org">over here</a>
                </p><p>
                    For now though, you can just grab our <a href="/static/Baeolophus.xml">example file here</a> (right click and download if not automatic), download it, then head back to our <a href="/">homepage</a> and upload it through the dialog. You will be all set up to start playing.
                </p>
            </div>
            <div id="right">
                <img src="/static/images/helppages/projects.png"/>
            </div>
        </div>
    </div>
    {{ homeMenu }}
</div>
</body>
</html>
