<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>PhyloBox</title>
    <meta name="description" content="PhyloBox Help">
    <script type="text/javascript" src="/static/javascript/jquery.js"></script>  
    <script type="text/javascript" src="/static/javascript/generalUI.js"></script>  
    
    <link rel="stylesheet" href="/static/css/treeedit.css" /> 
    <link rel="stylesheet" href="/static/css/helppage.css" /> 
    <link rel="stylesheet" href="/static/css/header.css" /> 
    
</head>
<body>
<div id="wrapper">
    {{ header }}
    <div id="content">
        <div id="full">
            <div id="left">
                    We wanted to make it easy for you to keep track of your trees. As long as you sign in when you want to save your trees, you can always return to that tree to edit, view, create widgets, or <a href="/help/fork">fork </a>into new projects.
                <p>
                    By clicking the 'Resume' project at the bottom left, or if you are signed in, click the 'projects' link at the top right, you can see all the trees you have created.
                </p><p>
                    From here, you can also see the date you last changed the tree, links to the tree editing page, the total number of times that tree has been viewed (if you have embedded it in a webpage, this might be interesting), and the Original Author of that tree.
                </p>
            </div>
            <div id="right">
                <img src="/static/images/helppages/projects.png"/>
            </div>
        </div>
    </div>
    {{ homeMenu }}
</div>
</body>
</html>
