body{
    background-color: #75a0cb;
    font-family: Gill Sans, Verdana;
    min-width: 780px;
    min-height: 580px;
}
#wrapper{
    width: 100%;
}
#content{
    margin-top: 5px;
    width: 98%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
#taxalist{
    width: 22%;
    height: 450px;
    background-color: #1d1d1d;
    color: #DDD;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: left;    
    overflow-x: hidden;
    overflow-y: auto;
}
#taxalist #nodeq{
    margin-top: 4px;
    margin-left: 3px;
}
#taxalist ul, li{
    margin-left: -3%;
    width: 100%;
}
#taxalist .node{
    color: #DDD;
    font-size: 0.7em;
    border-bottom: 1px solid #111;
}
#taxalist .node a{
    display:inline;
    min-width: 100px;
    background-color: #1d1d1d;
}
#taxalist .node:hover{
    border-bottom: 1px solid #ccc;
    cursor: pointer; cursor: hand;
}
.inline-sub{
    font-size: 0.6em;
}
#tree{
    width: 77%;
    margin-left: 1%;
    float: left;
    height: 450px;
}

#tool_container{
    width: 25%;
    height: 300px;
    background-color: #1d1d1d;
    color: #DDD;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: right;
}
#highlight-node{
    width: 25%;
    margin-top: 1%;
    height: 142px;
    background-color: #1d1d1d;
    color: #333;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: right;
    font-size: 22;
}

#tree-canvas{
    background-color: #1d1d1d;
    color: #1d1d1d;
    float: left;
}



#notes {
    font-size: 0.7em;
}
