
.tools{
    width: 90%;
    float: right;
    padding: 5%;
}
.toolset {
    margin-top: 1%;
    font-size: 0.8em;
}
.toolset #item_title{
    float: left;
    width: 99%;
    margin-top: 1px;
}
.tool{
    width: 28px;
    height: 28px;
    border: 1px solid #1d1d1d;
}
.view{
    width: 28px;
    height: 28px;
    border: 1px solid #1d1d1d;
}
.toggle{
    width: 28px;
    height: 28px;
    border: 1px solid #1d1d1d;
}
.meta{
    width: 28px;
    height: 28px;
    border: 1px solid #1d1d1d;
}
#item_title label{
    font-size: 0.5em;
}
.tool{
    padding: 1px;
}
.tool-button{
    width: 18px;
    height: 18px;
}
#colornode{
    width: 50%;
    height: 18px;
}
.extended-button{
    max-width: 28px;
}
.toolset-options{
    font-size: 1.0em;
    cursor: pointer; cursor: hand;
    width: 98%;
    float: left;
    margin-bottom: 4px;
}
.toolset-option{
    float: left;
    margin-left: 4px;
}
