body {
background:#1a1a1a;
text-align:left;
color:#666;
font-size:14px;
font-family:georgia, 'time new romans', serif;
margin:0 auto;
padding:0;
}
#wrapper{
    width: 100%;
    height: 100%;
}
#tree-canvas{
    position: absolute;
    top: 0; left: 0;
    float: left;
    width: 100%;
    height: 100%;
}
.panel {
    position: absolute;
    display: none;
    background: #000000;
    border:1px solid #111111;
    -moz-border-radius-top: 0px;
    -webkit-border-top-radius: 0px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    filter: alpha(opacity=85);
    opacity: .85;
    max-height: 80%;
    overflow-y: auto;
    color: #eee;
}
.panel#taxaPanel {
    top: 0px;
    left: 10px;
    width: 240px;
    height: auto;
    padding: 30px 10px 10px 10px;
}
.panel#taxaPanel li:hover{
    cursor:pointer; cursor: hand;
    text-decoration: underline;
}
.panel#helpPanel {
    top: 0px;
    left: 260px;
    width: 240px;
    height: auto;
    padding: 30px 10px 10px 10px;
}
.panel#toolsPanel {
    top: 0px;
    left: 90px;
    width: 240px;
    height: auto;
    padding: 30px 8px 10px 8px;
}
.panel#toolsPanel .checkoption{
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}
.panel#optionsPanel {
    top: 0px;
    left: 172px;
    width: 150px;
    height: auto;
    padding: 35px 10px 10px 10px;
}
a.trigger{
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    padding: 1px 10px 5px 10px;
    font-weight: 700;
    background:#333333;
    border:1px solid #444444;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    display: block;
}
a.trigger#taxa{
    top: 0; left: 10px;
}
a.trigger#tools{
    top: 0; left: 90px;
}
a.trigger#options{
    top: 0; left: 172px;
}
a.trigger#help{
    top: 0; left: 260px;
    font-size: 0.6em;
}
a.trigger:hover{
    color:#fff;
    padding: 5px 10px 5px 10px;
    border:1px solid #444444;
}

a.active.trigger {
    background:#222222;
}
#user{
    background-color: #1d1d1d;
    position: absolute;
    top: 0; right: 10px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #ddd;
    padding: 1px 10px 2px 10px;
    border:1px solid #444444;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    display: block;
}
#user a{
    color: #ddd;
    text-decoration: none;
}
#user a:hover{
    text-decoration: underline;
}
.ajax_dialog{
    position: absolute;
    top: 30px; left: 30px;
}
