<div id="footer">
	<div id="footer_content">
    {% if user %}
        <div class="save_now" id="save_now" >Save Now</div>
    {% else %}  
		<div class="option" id="aa">
				Save Tree
		</div>
    {% endif %}  
		<div class="option" id="bb">
				Output Image
		</div>
		<div class="option" id="cc">
				Embed Tree
		</div>
		<div class="option" id="dd">
				Collaborators
		</div>
		<div class="option" id="ee">
				help
		</div>
        <div class="download" id="download" ><a href="/api/lookup?k={{key}}" target="_blank">Download</a></div>
		<div class="clear"></div>
	</div>

    <div id="panels">

        <div class="panel" id="aa">
            <div id="panel_content">
                <p>
                    WARNING: You are not signed in. Without being logged it, you will not be 
                    able to return to edit this exact tree. You  still can save the phylogeny, 
                    however you will only get a new key for you to view it and share with others. 
                </p><p>
                    <a href="{{ url }}">Sign In.</a>
                </p><p>
                    or 
                </p><p>
                    <div id="save_now" >Go Ahead and Save It</div>
                </p>
            </div>
        </div>
        <div class="panel" id="bb">
            <div id="panel_content">
                Image output options:
                <p>
                    <button id="png" class="OutputImg">PNG File</button>  <i>SVG File</i>
                </p>
                {% if not tmp %}
                So you would rather just embed the image huh?
                <p>
                <div id="inlineCodeBlocks">
                    <pre class="embedCode" id="embedImage">
&lt;img src="http://phylobox.appspot.com/api/image.png?k={{ key }}" /&gt;
                    </pre>
                </div>
                </p>
                {% endif %}
            </div>
        </div>
        <div class="panel" id="cc">
            <div id="panel_content" >
            {% if tmp %}
                <p>
                You must save your tree first.
                </p><p>
                <div id="save_now" >Save It</div>
                </p>
            {% else %}
                <div id="inlineCodeBlocks">
                    <div id="title">Embed in most webpages:</div>
                    <pre class="embedCode" id="html">
                        
&lt;div width="400" 
     height="385"
     style="width:400px;height:385px;"
     id="phylobox_{{ key }}"
     class="phylobox_embed_parent"&gt;&lt;a href="http://phylobox.appspot.com"&gt;&lt;img src="http://phylobox.appspot.com/api/image.png?k={{ key }}" width="375" height"344" /&gt;&lt;/a&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="http://phylobox.appspot.com/static/javascript/WidgetControllers/latest/InsertWidget.js"&gt;&lt;/script&gt;&lt;script type="text/javascript"&gt;if (PHYLOBOX) PHYLOBOX.renderPhylo();&lt;/script&gt;&lt;noscript&gt;Sorry, we haven't spent much time with IE, maybe that is why you are not seeing anything here?&lt;/noscript&gt;
                    </pre>
                    <br>
                    <div id="title">Embed in your Blogspot blog*:</div>
                    <pre class="embedCode" id="blogger">
                    
&lt;div id="PhyloboxEmbed" &gt; 
    &lt;div width="375" height="344" style="width:375px;height:344px;" id="phylobox_{{ key }}" class="phylobox_embed_parent"&gt;&lt;a href="http://phylobox.appspot.com"&gt;&lt;img src="http://phylobox.appspot.com/api/image.png?k={{ key }}" width="375" height"344" /&gt;&lt;/a&gt;
    &lt;/div&gt; 
&lt;/div&gt; 
                    </pre>
                </div>
                <div id="footnote">
                    * If this is the first time you've embedded a PhyloBox widget in Blogger, you need to install our gadget first, <a target="_blank" href="/help/blogger" >Click Here</a>
                </div>
                {% endif %}
            </div>
        </div>
        
        <script language="javascript">
            $(document).ready(function(){
            });
        </script>
        <div class="panel" id="dd">
            <div id="panel_content">
            {% if tmp %}
                <p>
                You must save your tree first.
                </p><p>
                <div id="save_now" >Save It</div>
                </p>
            {% else %}
                <p>
                    Currently these people are working on this tree: <br>
                    {% for c in collaborators %}
                        {{ c }}; 
                    {% endfor %}
                    <p  id="collaboratorList"></p>
                </p><p>
                    Invite others:
                </p><p>
                    Email: <input id="newCollaboratorEmail" type="text" length="40px" /><button id="inviteNew">Invite</button></i>
                </p><p>
                    <b>For now, the email addresses needs to be their GMAIL address.</b>
                </p>
            {% endif %}
            </div>
        </div>
        <div class="panel" id="ee">
            <div id="panel_content">
                help content
            </div>
        </div>
    </div>
</div>
