<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>PhyloBox</title>
    <meta name="description" content="PhyloBox Editor">
    <script type="text/javascript">
        var key = '{{ key }}';
    </script>
    
    <script type="text/javascript" src="/static/javascript/jquery.js"></script>  
    
    <script type="text/javascript" src="/static/javascript/jquery-ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery-ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery-ui/jquery.ui.mouse.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery-ui/jquery.ui.slider.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery-ui/jquery.ui.button.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery-ui/jquery.gritter.min.js"></script>
    <link rel="stylesheet" href="/static/javascript/jquery-themes/base/jquery.ui.all.css"/>
    <link rel="stylesheet" href="/static/javascript/jquery-themes/jquery.gritter.css"/>
    <link rel="stylesheet" href="/static/css/slider.css"/>

    <script type="text/javascript" src="/static/javascript/PhyloBoxTools.js"></script>  
    <script type="text/javascript" src="/static/javascript/jscolor/jscolor.js"></script>
	<script type="text/javascript" src="/static/javascript/livesearch/quicksilver.js"></script> 
	<script type="text/javascript" src="/static/javascript/livesearch/jquery.livesearch.js"></script> 
	
    
    <link rel="stylesheet" href="/static/css/treeedit.css" /> 
    <link rel="stylesheet" href="/static/css/editorMenu.css" /> 
    <link rel="stylesheet" href="/static/css/toolMenu.css" /> 
    <link rel="stylesheet" href="/static/css/header.css" /> 
    
    <script type="text/javascript" src="/static/javascript/PhyloBoxViewer.js"></script> 
    
</head>
<body>
<div id="wrapper">
    {{ header }}
    <div id="content">
        <div id="taxalist">
        
            <form method="get" autocomplete="off"> 
                <div> 
                    <input type="text" value="" name="nodeq" id="nodeq" /> 
                </div> 
            </form> 
            <ul id="treenodes" class="nodes"> 
            </ul>
        </div>
        <div id="tree">
            <canvas id="tree-canvas" height="450" width="435"></canvas>
            <div id="tool_container">
                <div class="tools">
                    {{ toolMenu }}
                </div>
            </div>
        </div>
    </div>
    {{ bottomMenu }}
</div>
</body>
</html>
