<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<script type="text/javascript">
		// get keys
		var __group_key__ = '{{ group }}',
			__single_key__ = '{{ key }}';
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>PhyloBox</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="static/css/style.css" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<meta name="keywords" content="" />
	<meta name="description" content="Something here." />
	<!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
	<![endif]-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<!--<script type="text/javascript" src="static/js/jquery.tools.min.js"></script>-->
	<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="static/js/jquery.scrollTo-1.4.2.js"></script>
	<script type="text/javascript" src="static/js/date.format.js"></script>
	<script type="text/javascript" src="static/js/jquery.hotkeys.js"></script>
	<script type="text/javascript" src="static/js/class.phylobox.js"></script>
	<script type="text/javascript" src="static/js/engine.phylobox.js"></script>
	<script type="text/javascript" src="static/js/main.phylobox.js"></script>
</head>
<body>
	<header id="head">
		<!-- <div id="perma-link">
			<p>workspace perma-link:</p>
			<input type="text" value="http://localhost:8080/?k=tmp-phylobox-2-0-911a4b5b-2bbb-4015-87ed-ef30dc240bf4" />
		</div> -->
		<div id="head-right">
			<div class="separator separator-left">
				<img src="static/gfx/line.png" alt="line" width="3" height="30" />
			</div>
			<nav>
				<ul>
					<li><a href="javascript:;" class="option-butt">Help</a></li>
					<li><a href="javascript:;" class="option-butt">Print</a></li>
				</ul>
			</nav>
		</div>
		<div id="head-left">
			<h1 class="logo">PhyloBOX</h1>
			<nav>
				<ul>
					<li class="menu-holder">
						<a href="javascript:;" class="menu-butt">File<img src="static/gfx/nav-arrow.png" alt="arrow" class="nav-arrow" /></a>
						<div id="file-menu" class="menu">
							<ul>
								<li>
									<input type="file" id="file-menu-new-fi" class="menu-submit-file" size="1" name="phyloFile" />
									<a href="javascript:;" id="" class="menu-item">New</a>
								</li>
								<li><a href="javascript:;" id="" class="menu-item-off">Open...</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Close</a></li>
							</ul>
							<div class="menu-separator"></div>
							<ul>
								<li><a href="javascript:;" id="" class="menu-item-off">Save</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Fork...</a></li>
							</ul>
							<div class="menu-separator"></div>
							<ul>
								<li><a href="javascript:;" id="" class="menu-item-off">Export as PhyloJson</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Export as SVG</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Export as JPEG</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Export as PNG</a></li>
							</ul>
							<div class="menu-separator"></div>
							<ul>
								<li><a href="javascript:;" id="" class="menu-item-off">Print</a></li>
							</ul>
						</div>
					</li>
					<li class="menu-holder">
						<a href="javascript:;" class="menu-butt">Edit<img src="static/gfx/nav-arrow.png" alt="arrow" class="nav-arrow" /></a>
						<div id="edit-menu" class="menu">
							<ul>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 1</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 2</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 3</a></li>
							</ul>
							<div class="menu-separator"></div>
							<ul>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 4</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 5</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 6</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 7</a></li>
							</ul>
						</div>
					</li>
					<li class="menu-holder">
						<a href="javascript:;" class="menu-butt">Share<img src="static/gfx/nav-arrow.png" alt="arrow" class="nav-arrow" /></a>
						<div id="share-menu" class="menu">
							<ul>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 1</a></li>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 2</a></li>
							</ul>
							<div class="menu-separator"></div>
							<ul>
								<li><a href="javascript:;" id="" class="menu-item-off">Option 3</a></li>
							</ul>
						</div>
					</li>
					<div class="clear"></div>
				</ul>
			</nav>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</header>
	<div id="toolbar">
		<nav>
			<ul>
				<li><a href="javascript:;" id="select" class="tool"><img src="static/gfx/tools/select.png" alt="select-tool" title="Select" /></a></li>
				<li><a href="javascript:;" id="translate" class="tool"><img src="static/gfx/tools/translate.png" alt="translate-tool" title="Translate" /></a></li>
				<li style="padding-right:30px;"><a href="javascript:;" id="rotate" class="tool"><img src="static/gfx/tools/rotate.png" alt="rotate-tool" title="Rotate" /></a></li>
				<li><a href="javascript:;" id="zin" class="tool"><img src="static/gfx/tools/zin.png" alt="zoom-in-tool" title="Zoom In" /></a></li>
				<li><a href="javascript:;" id="zout" class="tool"><img src="static/gfx/tools/zout.png" alt="zoom-out-tool" title="Zoom Out" /></a></li>
				<div class="clear"></div>
			</ul>
		</nav>
	</div>
	<div id="main">
		<div id="main-left">
			<div id="taxa" class="panel panel-left">
				<header>
					<h2 class="panel-head">Taxa List</h2>
				</header>
				<section>
					<ul></ul>
				</section>
			</div>
			<div id="node" class="panel panel-left">
				<div class="separator separator-left">
					<img src="static/gfx/line.png" alt="line" width="3" height="25" />
				</div>
				<div class="handle handle-left">
					<div>
						<img src="static/gfx/handle.png" alt="handle" />
					</div>
				</div>
				<header>
					<h2 class="panel-head">Node</h2>
				</header>
				<section>
					<h2 class="prop-title nodes-blank">Select a node to see its properties.</h2>
				</section>
			</div>
			<div class="clear"></div>
		</div>
		<div id="main-right">
			<div id="doc" class="panel panel-right">
				<header>
					<h2 class="panel-head">Tree Properties</h2>
				</header>
				<section></section>
			</div>
		</div>
		<div id="main-center">
			<div id="trees" class="panel panel-center">
				<div class="separator separator-left">
					<img src="static/gfx/line.png" alt="line" width="3" height="25" />
				</div>
				<div class="separator separator-right">
					<img src="static/gfx/line.png" alt="line" width="3" height="25" />
				</div>
				<div class="handle handle-left">
					<div>
						<img src="static/gfx/handle.png" alt="handle" />
					</div>
				</div>
				<div class="handle handle-right">
					<div>
						<img src="static/gfx/handle.png" alt="handle" />
					</div>
				</div>
				<header>
					<h2 class="panel-head">Trees</h2>
				</header>
				<section></section>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<footer id="foot">
		<a href="javascript:;" class="plain">Feedback</a>
	</footer>
</body>
</html>