<html>
<head>
    <title>PhyloBox</title>
    <meta name="description" content="PhyloBox Projects">
    <script type="text/javascript" src="/static/javascript/jquery.js"></script>  
    
    <link rel="stylesheet" href="/static/css/projectpage.css" /> 
    <link rel="stylesheet" href="/static/css/header.css" /> 
    <script language="javascript">
    </script>
</head>
<body>
<div id="wrapper">
    {{ header }}
    <div id="main" class="row">
        <div id="projects" class="row">
            <div id="project" class="header">
                <div id="rowCt">#</div>
                <div id="viewTree">Link</div>
                <div id="author">Original Author</div>
                <div id="collaborators">Collaborators</div>
                <div id="numberViews">Views</div>
                <div id="lastUpdate">Last Update</div>
            </div>
        
        {% for row in rows %}
            <div id="project" class="{{ row.rowType }}">
                <div id="rowCt">{{ row.rowCt }}</div>
                <div id="viewTree"><a href="{{ row.viewLink }}">{{ row.title }}</a></div>
                <div id="author">{{ row.author }} <span id="{{ row.treeId }}" class="derivedWorks"></span></div>
                <div id="collaborators">
                {% if row.collaborators %}
                    <select>
                {% for c in row.collaborators %}
                        <option>{{ c }}</option>
                {% endfor %}
                    </select>
                {% else %}
                    <i>just you</i>
                {% endif %}
                </div>
                <div id="numberViews">{{ row.downloadCt }}</div>
                <div id="lastUpdate">{{ row.last_update_date }}</div>
                <div id="derivedWorks" class="{{ row.treeId }}"></div>
            </div>
            
        {% endfor %}
            <div id="project" class="hidden">
                <div id="rowCt"></div>
                <div id="author"><span id="" class="derivedWorks">+</span></div>
                <div id="viewTree"><a href="">View Tree</a></div>
                <div id="numberViews"></div>
                <div id="lastUpdate"></div>
                <div id="derivedWorks" class=""></div>
            </div>
        </div>
    </div>
    {{ homeMenu }}
</div>
</body>
</html>
