                    <div id="metaMenuContainer" style="position:relative">
                        <div id="metaMenu">
                            <div id="panel_content">
                                Tree Title  <input id="ProjectTitle" type='text' size=50 /><br />
                                Primary URI <select name="primary_uri">
                                                <option>Video</option>
                                                <option>Audio</option>
                                                <option>KML</option>
                                            </select> <br />
                                Primary Node Names <select name="primary_uri">
                                                <option>node_id</option>
                                                <option>name_txt</option>
                                                <option>speciesname</option>
                                            </select> <br />
                                Primary Branch Labels <select name="primary_uri">
                                                <option>Branch Length</option>
                                                <option>Branch Confidence</option>
                                            </select> <br />
                                Default Branch Color: <input class="color" value="#FAFAFA" /> <br/>
                                Branch Width: <div id="width"></div>
                                              <div id="slider"></div>
                                Background Color: <input id="BackgroundColor" class="color" value="#1A1A1A" />
                                
                            </div>
                        </div>
                    </div>
                    <div class="toolset">
                        <img id="moveTree" title="Move Tree" class="tool" src="/static/images/editor/moveTree.png" />
                        <img id="zoomIn" title="Zoom In" class="tool" src="/static/images/editor/zoomIn.png" />
                        <img id="zoomOut" title="Zoom Out" class="tool" src="/static/images/editor/zoomOut.png" />
                        <img id="editBranchLength" title="Edit Branch Lengths" class="tool" src="/static/images/editor/editBranchLength.png" />
                        <img id="cropBelow" title="Crop Below Node" class="tool" src="/static/images/editor/cropBelow.png" />
                        <img id="cropAbove" title="Crop Above Node" class="tool" src="/static/images/editor/cropAbove.png" />
                        <img id="rotateAroundNode" title="Rotate Around Node" class="tool" src="/static/images/editor/rotateAroundNode.png" />
                        <img id="editElementData" title="Edit Element Data" class="tool" src="/static/images/editor/editElementData.png" />
                        <img id="sampleColor" title="Sample Color" class="tool" src="/static/images/editor/sampleColor.png" />
                        <img id="applyColor" title="Apply Color" class="tool" src="/static/images/editor/applyColor.png" />
                        <img id="linkOut" title="Link Out" class="tool" src="/static/images/editor/linkOut.png" />
                    </div>
                    <div class="toolset">
                        <img id="toggleBranchLength" title="Toggle Branch Length" class="toggle" src="/static/images/editor/toggleBranchLength.png" />
                        <img id="toggleLeafLabels" title="Toggle Leaf Labels" class="toggle" src="/static/images/editor/toggleLeafLabels.png" />
                        <img id="toggleHTULabels" title="Toggle HTU Labels" class="toggle" src="/static/images/editor/toggleHTULabels.png" />
                        <img id="toggleBranchLabels" title="Toggle Branch Labels" class="toggle" src="/static/images/editor/toggleBranchLabels.png" />
                    </div>
                    <div class="toolset">
                        <img id="viewDendrogram" title="View Dendrogram" class="view" src="/static/images/editor/viewDendrogram.png" />
                        <img id="viewCircularDendrogram" title="View Circular Dendrogram" class="view" src="/static/images/editor/viewCircularDendrogram.png" />
                        <img id="viewPhylogram" title="View Phylogram" class="view" src="/static/images/editor/viewPhylogram.png" />
                        <img id="view3D" title="View 3D Tree" class="view" src="/static/images/editor/view3D.png" />
                        
                    </div>
                    <div class="toolset">
                        <img id="editTreeMetadata" title="Edit Tree Metadata" class="meta" src="/static/images/editor/editTreeMetadata.png" />
                        <img id="forkNewProject" title="Fork as New Tree" class="meta" src="/static/images/editor/forkProject.png" />
                    </div>
                    
