<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> 
    <style>
        body{ background: #FFFFFF; }
        #header{ width: 95%; height: 50px; margin-bottom: 5px; font-color: #00001d; font-size: 1.5em; font-weight: bold; }
        #footer{ width: 89%; padding-left: 5%;padding-right: 5%;margin-top: 5px; font-color: #00001d; font-size: 1.0em; font-weight: bold; }
        #header .title {float:left; }
        #content{ width: 95%; height: 720px; width: 900px; margin-bottom: 5px; }
        .pb{ width:400px; height:720px; float: left;margin-right: 10px; position: relative;}
        #phylo_div{ width:400px; height:720px; position: relative;}
        .info{float:left; height: 720px; width: 450px; overflow: auto;margin-top:30px;position: relative;}
    </style>
    <script type="text/javascript" src="/static/js/2-0/widget.phylobox.js"></script>
    
    <script type="text/javascript">
          var _nodes;
          var myPhylobox;
          function loadSingle( e, data ) {
                if (data.node.name) {
                    $('.info').html('');
                    $('.info').html(data.node.name + '  -  ');
                    $('.info').append('<a href="javascript:loadImages();">go back</a><br>');
                    var flickrKey = '29dfc209b6c6674580c4a5c8dc6a530c';
                    var url = 'http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key='+flickrKey+'&tags='+data.node.name+'&per_page=1&page=1&format=json&jsoncallback=?';
                    $.getJSON(url,function(data){
                        if (data.photos.photo[0]){
                            var p = data.photos.photo[0];
                            var i = new Image();
                            var src = 'http://farm'+p.farm+'.static.flickr.com/'+p.server+'/'+p.id+'_'+p.secret+'.jpg';
                            i.width = 300;
                            i.src = src;
                            i.onload = function(){
                                $('.info').append(i);
                            }
                        }
                        
                    });
                } 
          }
          function loadGallery( name ) {
                    $('.info').html('');
                    $('.info').html(name + '  -  ');
                    $('.info').append('<a href="javascript:loadImages();">go back</a><br>');
                    var flickrKey = '29dfc209b6c6674580c4a5c8dc6a530c';
                    
                    var url = 'http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key='+flickrKey+'&tags='+name+'&per_page=10&page=1&format=json&jsoncallback=?';
                    $.getJSON(url,function(data){
                        for (i in data.photos.photo){
                            var p = data.photos.photo[i];
                            var im = new Image();
                            var src = 'http://farm'+p.farm+'.static.flickr.com/'+p.server+'/'+p.id+'_'+p.secret+'_s.jpg';
                            im.width = 90;
                            im.src = src;
                            im.onload = function(){
                                $('.info').append(im);
                            }
                        }
                    });
                
          }
          function loadImages(e,data){
              if (!data){
                $('.info').html('');
                var nodes = _nodes;
              } else {
                var nodes = data.tree.node_list;
                _nodes = nodes;
                rem = true;
              }
              for (i in nodes) {
                  if (nodes[i].name){
                    var _id = nodes[i].id;
                    var flickrKey = '29dfc209b6c6674580c4a5c8dc6a530c';
                    var url = 'http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key='+flickrKey+'&tags='+nodes[i].name+'&per_page=1&page=1&format=json&jsoncallback=?';
                    
                    $.getJSON(url,function(data){
                        if (data.photos.photo[0]){
                            var p = data.photos.photo[0];
                            var im = new Image();
                            var src = 'http://farm'+p.farm+'.static.flickr.com/'+p.server+'/'+p.id+'_'+p.secret+'.jpg';
                            im.height = 90;
                            im.src = src;
                            im.style.margin = '3px';
                            im.style.float = 'left';
                            im.style.border = 'none';
                            im.onload = function(){
                                $('.info').append(im);
                            }
                        }
                    });
                  }
              }
          }
              
        function init(){
             var myOptions = {
                 background: "white",
                 htuLabels: false,
                 leafLabels:  true,
                 labelSize: 8,
                 branchColor: "black",
                 branchWidth: 2.0,
                 nodeRadius: 6,
                 title: ' ',
                 tools: true,
                 shadow: false,
                 margins: {r: 140, t: -20},
              };
              myPhylobox = new PhyBox("phylo_div", myOptions);
              
              myPhylobox.drawTree("url","http://2-0.latest.phylobox.appspot.com/static/files/protea.xml");
              
              // bind custom event handler to the phylobox "pb-nodeclick" event for this instance
              PbEvent.addListener( myPhylobox, "pb-nodeclick", loadSingle );
              PbEvent.addListener( myPhylobox, "pb-treefocus", loadImages);
         }
    </script>
</head>
<body onload="init()">
    <div id="header"><div class="title">Diversification of the African genus Protea in the Cape biodiversity hotspot and beyond: equal rates in different biomes.</div> </div>
    <div id="content">
        <div  class="pb">
            <div id="phylo_div"></div>
        </div>
        <div class="info"></div>
    </div>
    <div id="footer">
        Unlike the examples given on <a href='http://iphylo.blogspot.com/2010/12/treebase-again.html'>http://iphylo.blogspot.com/2010/12/treebase-again.html</a>, this example reads the TreeBase NeXML file and builds the tree + gathers images on the fly. It could be applied to any TreeBase tree, however, I found that the TreeBase links weren't snappy enough, so in the source you'll notice it links to a hosted copy of the tree. You can find documentation for some these methods, <a href='https://github.com/andrewxhill/PhyloBox/wiki/_pages'>https://github.com/andrewxhill/PhyloBox/wiki/_pages</a>.
    </div>
</body>
</html>
